html
  head
    title Book Information
    style.
      body {
        font-family: 'Arial', sans-serif;
        background-color: #f0f8ff; 
        color: black; 
      }
      h1 {
        color: blue; 
      }
  body
    block content
      h1 Book Information
      p Description: #{description}
      p Publisher: #{publisher}
      p Published Date: #{publishedDate}
